#sharethis  {
    margin: 15px 0;
}

#sharethis a.stbar.chicklet img {
    border:0;
    height:16px;
    width:16px;
    margin-right:3px;
    vertical-align: -3px;
}

#sharethis a.stbar.chicklet {
    height:16px;
    line-height:16px;
}

#sharethis p.note {
    margin:5px 0;
}
